<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> EBG-Backed Antenna Design for 5.8GHz ISM Band </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Intelligent Surveillance Robot using Deep Learning </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
