<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>EBG-Backed Antenna Design for 5.8GHz ISM Band</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Designed and optimized a wearable antenna with EBG backing using HFSS & CST, achieving 7.2 dBi gain, >85% 
efficiency, and significant SAR reduction across the 5.8 GHz ISM band.
- Conducted extensive parametric analysis to fine-tune gain, impedance bandwidth, and radiation patterns; 
validated the design with a fabricated prototype and VNA measurements.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/project2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Intelligent Surveillance Robot using Deep Learning</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>
- Developed a robot with MobileNet-based DL classification (92% accuracy) and wireless control using embedded 
Python systems.
- Integrated live video feed, autonomous obstacle avoidance, and AI-based object detection.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Hybrid LSTM-GCN for RIS Beamforming in Multi-User Systems (On-going)</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>- Modeled a 64-element RIS using a physics-aware wireless channel.
- Combined LSTM (temporal mobility) and GCN (spatial correlation) to predict continuous RIS phase shifts 
∈ [0, 2π].
- Evaluation of system performance using MSE loss, received power distributions, and Jain’s Fairness Index.
- RIS phase heatmaps, power evolution plots, and user-specific signal trajectories over time</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Publications:</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>- “Robust and Efficient EBG-Backed Wearable Antenna for ISM Applications,” Turkish Journal of Electrical 
Engineering and Computer Sciences, Vol. 29, No. 7, 2021. DOI
- “EBG-Backed Wearable Antenna for 5.8 GHz ISM Applications,” IEEE ICE Cube Conference, 2021. DOI</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
